body {
  margin: 0;
  color: white;
  background-image: url(../public/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glowing-textbox {
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 18px;
  padding: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff;
  }
  100% {
    box-shadow: 0 0 10px #fff;
  }
}

.glowing-textbox:focus {
  outline: none;
  animation: glowing 2s ease-in-out infinite;
  margin-bottom: 20px;
}

.glowing-button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: block;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #4caf50;
  }
  50% {
    box-shadow: 0 0 20px #4caf50;
  }
  100% {
    box-shadow: 0 0 10px #4caf50;
  }
}

.glowing-button:focus {
  outline: none;
  animation: glowing 2s ease-in-out infinite;
}

.glowing-button:hover {
  background-color: #3e8e41;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.glowing-button:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.suggestion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
  margin-top: 20px;
}

.suggestion-content p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.loading {
  display: block;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 10px auto;
  background: url(../public/loading.gif) no-repeat center center;
  box-shadow: 0px 0px 10px 0px gray;
}
